.footer{
    display: block;
    float: left;
    width: calc(100% - 3vw);
    height: auto;
    color: #999999;
    font-size: 14px;
    margin: 0 0 1vh 2vw;
    line-height: 18px;
    bottom: 0;
    @media (max-width: 800px) {
        line-height: 12px;
        font-size: 10px;
    }
}