@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap%27');

.Feed{
    min-height: 68vh;
    height: auto;
    display: block;
    width: 66.7vw;
    h1{
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 55px;
    }
    .FeedDiv{
        height: auto;
        width: inherit;
        margin: 4vh 0;
        display: block;
        .Card{
            display: block;
            margin-bottom: 2.31vh;
        }
    }
}