@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap%27');

.Feed{
    min-height: 68vh;
    height: auto;
    overflow: visible;
    display: block;
    width: 66.7vw;
    h1{
        @media (max-width: 1000px) {
            font-size: 24px;
            float: left;
            margin: 0vh;
            margin-bottom: 2vh;
        }
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 55px;
        margin: 3vh;
        :hover{
            cursor: context-menu;
        }
    }
    .FeedDiv{
        overflow: visible;
        // background-color: blueviolet;
        height: auto;
        width: inherit;
        @media (max-width: 1000px) {
            margin: 10vh 1vh;
        }
        display: block;
        .Card{
            display: block;
            margin-bottom: 2.31vh;
        }
    }
}