.Feed{
    min-height: 68vh;
    height: auto;
    display: block;
    width: 66.7vw;
    .FeedDiv{
        height: auto;
        width: inherit;
        margin: 4vh 0;
        display: block;
        .Card{
            display: block;
            margin-bottom: 2vh;
        }
    }
}