@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.designedTallButton{
    display: flex; 
    border-color: rgba(0, 0, 0, 0);
    border-width: 10px;
    outline: none;
    height: max-content;
    border-radius: 11px;
    .buttonText{
      font-family: 'Balsamiq Sans', cursive;
      text-align: center;
    }
    text-align: justify;
    align-items: center;
    justify-content: center;
    width: 23.5ch;
    height: 13.5ch;
    margin: 0.5%;
    margin-right: 2ch;
    transition: background-color 0.5s ease;
    background-color: #FCFBFB;
  &:after {
    content: "";
    position: absolute;
    z-index: 0;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform-style: flat;
    transform: translate3d(-50%,-50%,0);
    background: rgba(#F4F4F4, .1);
    border-radius: 100%;
    transition: width .5s ease, height .5s ease;
  }
  &:focus{
    z-index: 0;
    color: black;
    background-color: #F4F4F4;
  }
  &:hover {
      transition: transform  .2s ease-out;
      transition: transform background .2s ease-out;
      background-color: #F4F4F4;
      color: black;
  }
  &:focus {
    &:after {
      z-index: 0;
      width: 250px;
      height: 200px;
    }
  }

}

@keyframes rotateALittle{
  from{ transform: rotate(0deg); }
  25%{ 
    transform: rotate(10deg); 
  }
  50%{ 
    transform: rotate(0deg); 
    transform: scale(1.08);
  }
  to{ 
    transform: rotate(-20deg); 
    transform: scale(1.1);
  }
}

.designedTallButton:hover{
    transition: 0.2s transform ease;
    transform: scale(1.05);
}

.designedTallButton:focus{
    animation: rotateALittle 1s;
    box-shadow: 0px 4px 70px rgba(0, 0, 0, 1);
    transition: 0.7s background-color ease;
    background-color: #153061;
    transition: 0.7s all ease;
    transform: scale(1.1);
    color: white;
    box-shadow: 0px 4px 75px rgba(0, 0, 0, 0.2);
}

.designedTallButton:active{
    transition: 0.4s transform ease;
    transform: scale(1.06);
}

