.designedButton{
    display: flex; 
    border-color: rgba(0, 0, 0, 0);
    border-width: 1px;
    outline: none;
    height: max-content;
    border-radius: 11px;
    .buttonText{
        
    }
    text-align: justify;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 45px;
    margin: 0.5%;
    transition: background-color 0.5s ease;
    background-color: #F4F4F4;
  &:after {
    content: "";
    z-index: 10;
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform-style: flat;
    transform: translate3d(-50%,-50%,0);
    background: rgba(#F4F4F4, .1);
    border-radius: 100%;
    transition: width .5s ease, height .5s ease;
  }
  &:focus{
    color: black;
    background-color: #F4F4F4;
  }
  &:hover {
      transition: transform  .2s ease-out;
      transition: transform background .2s ease-out;
      background-color: #F4F4F4;
      color: black;
  }
  &:focus {
    &:after {
      width: 150px;
      height: 100px;
    }
  }

}

.designedButton:hover{
    transition: 0.2s transform ease;
    transform: scale(1.05);
}

.designedButton:focus{
    transition: 0.7s background-color ease;
    background-color: #153061;
    transition: 0.7s all ease;
    transform: scale(0.98);
    color: white;
    box-shadow: 0px 4px 75px rgba(0, 0, 0, 0.2);
}

.designedButton:active{
    transition: 0.4s transform ease;
    transform: scale(0.96);
}

