@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

.ArticleCard{
    --ArticleCardHeight: 17.03vh;

    @media (max-width: 1000px) {
        --ArticleCardHeight: 10vh;
    }

    background-color: #F7F7F7;
    border-radius: 81px;
    width: 60vw;
    height: var(--ArticleCardHeight);

    .ArticleText{
        float: left;
        display: block;
        width: calc(100% - var(--ArticleCardHeight) - 5.4vh);
        height: calc(100% - 7vh);
        padding: 3.5vh 0 3.5vh 5.4vh;
        font-family: 'Ubuntu', sans-serif;

        .ArticleTitle{
            height: 40%;
            width: 100%;
            font-size: 36;
            overflow: hidden;
            display: block;
            text-overflow: ellipsis;
        }

        .ArticleSubtitleAndDot{
            height: 60%;
            width: inherit;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .ArticleSubtitle{
            word-wrap: break-word;
            overflow: hidden;
            font-size: 18;
            height: inherit;
            width: inherit;
            display: block;
            text-overflow: ellipsis;
        }
    }

    .ArticlePicture{
        height: 100%;
        width: var(--ArticleCardHeight);
        display: block;
        float: left;
        overflow: hidden;
        border-radius: 0px 81px 81px 0px;
        
        img{
            width: inherit;
            height: inherit;
            object-fit: cover;
            display: block;
            image-rendering: -webkit-optimize-contrast;
        }
    }
}