.SideMenu{
    display: block;
    width: 22vw;
    height: auto;
    min-height: 68vh;
    float: left;
    overflow: visible;
    .SideMenuButton{
        float: left;
        margin: 0 0 2vh 0;
    }
    .SideMenuButton:nth-child(2n+1){
        float: left;
        margin: 0 1vw 2vh 0;
    }
}