.LeftMenu{
    display: block;
    width: 25vw;
    height: auto;
    min-height: 68vh;
    margin-top: 5vh;
    float: left;
    .LeftMenuButton{
        float: left;
        margin: 0 1vw 2vh 0;
    }
}