.TopMenu{
    display: block;
    width: 75vw;
    height: auto;
    .Logo146{
        margin-right: 23px;
        float: left;
    }

    .TopMenuButton{
        float: left;
        margin: 0 auto;
        display: block;
    }
}