.TopMenu{
    display: block;
    width: 75vw;
    height: 6.5vh;
    .Logo146{
        display: block;
        margin-right: 3vw;
        float: left;
    }
    .TopMenuButtonsDiv{
        display: block;
        float: left;
        width: auto;
        margin-top: 7px;
        height: inherit;
    }
    .TopMenuButton{
        display: inline-block;
        margin: 0 1.3vw 0 0;
    }
}