@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

.designedSideButton{
  display: block; 
  border-color: rgba(0, 0, 0, 0);
  outline: none;  
  font-size: 2vh;
  border-radius: 39px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  @media (max-width: 1000px) {
    width: 10vh;
    border-radius: 3000px;
    height: 10vh;
    font-size: 1.5vh;
  }
  width: 10.5vw;
  height: 12.04vh;
  // transition: background-color 0.5s ease;
  background-color: #F8F8F8;
  &:hover {
    background-color: #F8F8F8;
    color: black;
    transition: 0.2s transform ease;
    transform: scale(1.05);
  }
  &:focus{
    background-color: #153061;
    transition: 0.7s all ease;
    transform: scale(0.98);
    color: white;
    box-shadow: 0px 4px 75px rgba(0, 0, 0, 0.2);
  }
  &:active{
    transition: 0.4s transform ease;
    transform: scale(0.96);
  }
}
.designedSideButtonFocued{
  display: block; 
  border-color: rgba(0, 0, 0, 0);
  outline: none;  
  font-size: 2vh;
  border-radius: 39px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  width: 10.5vw;
  height: 12.04vh;
  @media (max-width: 1000px) {
    width: 10vh;
    border-radius: 3000px;
    height: 10vh;
    font-size: 1.5vh;
  }
  // transition: background-color 0.5s ease;
  background-color: #153061;
  color:white;
  &:hover {
    transition: 0.2s transform ease;
    transform: scale(1.05);
  }
  &:focus{
    transition: 0.7s all ease;
    transform: scale(0.98);
    box-shadow: 0px 4px 75px rgba(0, 0, 0, 0.2);
  }
  &:active{
    transition: 0.4s transform ease;
    transform: scale(0.96);
  }
}