@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.designedSideButton{
  display: block; 
  border-color: rgba(0, 0, 0, 0);
  outline: none;  
  font-size: 2vh;
  border-radius: 39px;
  font-family: 'Balsamiq Sans', cursive;
  font-weight: bold;
  width: 10.5vw;
  height: 13.6vh;
  // transition: background-color 0.5s ease;
  background-color: #FCFBFB;
  &:hover {
    background-color: #FCFBFB;
    color: black;
    transition: 0.2s transform ease;
    transform: scale(1.05);
  }
  &:focus{
    background-color: #153061;
    transition: 0.7s all ease;
    transform: scale(0.98);
    color: white;
    box-shadow: 0px 4px 75px rgba(0, 0, 0, 0.2);
  }
  &:active{
    transition: 0.4s transform ease;
    transform: scale(0.96);
  }
}