@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

.designedTopButton{
  display: block; 
  outline: none;
  border: none;
  border-radius: 39px;
  font-family: 'Ubuntu', sans-serif;
  width: 8.3vw;
  height: 5vh;
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05);

  @media (max-width: 1000px) {
    width: 10vh;
    border-radius: 3000px;
    height: 10vh;
    font-size: 1.5vh;
  }
  // transition: background-color 0.5s ease;
  background-color: #F4F4F4;
  font-size: 2vh;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    //transition: transform  .2s ease-out;  свойство переназначается если ты его пишешь ещё раз
    //transition: transform background .2s ease-out; свойство переназначается если ты его пишешь ещё раз
    background-color: #F4F4F4;
    color: black;
    transition: 0.2s transform ease;
    transform: scale(1.05);
  }
  &:focus{
    //color: black; свойство переназначается если ты его пишешь ещё раз
    transition: 0.7s all ease;
    transform: scale(0.98);
    // box-shadow: 0px 4px 75px rgba(0, 0, 0, 0.2);
  }
  &:active{
    transition: 0.4s transform ease;
    transform: scale(0.96);
  }
}

.designedTopButtonFocued{
  transition: 0.2s transform ease;
  display: block; 
  outline: none;
  border: none;
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05);
  border-radius: 39px;
  font-family: 'Ubuntu', sans-serif;
  width: 8.3vw;
  height: 5vh;
  @media (max-width: 1000px) {
    width: 10vh;
    border-radius: 3000px;
    height: 10vh;
    font-size: 1.5vh;
  }
  // transition: background-color 0.5s ease;
  background-color: #153061;
  color:white;
  font-size: 2vh;
  font-weight: bold;
  &:hover {
    //transition: transform  .2s ease-out;  свойство переназначается если ты его пишешь ещё раз
    //transition: transform background .2s ease-out; свойство переназначается если ты его пишешь ещё раз
    transform: scale(1.05);
  }
  &:focus{
    //color: black; свойство переназначается если ты его пишешь ещё раз
    transition: 0.7s transform ease;
    transform: scale(0.98);
    // box-shadow: 0px 4px 75px rgba(0, 0, 0, 0.2);
  }
  &:active{
    transition: 0.4s transform ease;
    transform: scale(0.96);
  }
}