.TopMenu{
    margin: 4.9vh 0 0 9vw;
    @media (max-width: 800px) {
        display: none;
        //margin: 5vh 2vw 0 5vw;
    }
}

.SideMenu{
    margin: 5vh 2vw 0 5vw;
}

body{
    @media (max-width: 800px) {
        overflow-x: hidden;
        overflow-y: visible;
    }
    
    -webkit-overflow-scrolling: touch;
}
.Feed{
    margin: 5vh 0;
    display: block;
    float: left;
}