.topPanel{
    display: flex;
    background: linear-gradient(0deg, rgba(23,51,99,1) 0%, rgba(24,55,107,1) 52%, rgba(24,55,107,1) 100%);
    z-index: -5;
    width: 100vw;
    height: 9.5vh;
    margin-top: 0%;
    .hidden { visibility: hidden; }
}

.randomDecorations{
    z-index: 1;
    transform: scale(0.9);
    opacity: 20%;
    padding-top: 0%;
    margin-top: 0%;
    object-fit:cover;
    perspective: 0%;
    margin-right: 50px;
    object-fit:cover;
}


@keyframes rotation{
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}

@keyframes scaling{
    from { transform: scale(0.9); }
    50% {transform: scale(0.8)}
    to {transform: scale(0.9);}
}

.randomRotatingDecorations{
    z-index: 1;
    transform: scale(0.9);
    animation: rotation 5s infinite linear;
    transform: rotate(1deg);
    opacity: 40%;
    padding-top: 0%;
    margin-top: 0%;
    object-fit:cover;
    object-fit:cover;
}

.randomScalingDecorations{
    z-index: 1;
    transform: scale(0.9);
    animation: scaling 15s infinite linear;
    opacity: 40%;
    padding-top: 0%;
    margin-top: 0%;
    object-fit:cover;
    object-fit:cover;
}