@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import 'NotionStyles.scss';
p, h1, h2, h3, h4{
    font-family: 'Ubuntu', sans-serif;
}



.Article{
    word-break: break-word;
    min-height: calc(68vh - 34px);
    height: auto;
    display: block;
    width: 66.7vw;
    // margin-top: -vh;
    
    @media (max-width: 800px) {
        // background-color: blue;
        margin-top: -1vh;
        width: 70vw;
    }
    
    .ArticleBody{
        margin-top: 2vh;

        hr{
            margin-top: 1vh;
        }
    }
}