@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
    
p, h1, h2, h3, h4{
    font-family: 'Ubuntu', sans-serif;
}

.Article{
    word-break: break-word;
    min-height: 68vh;
    // height: auto;
    height: 70vh;
    overflow: visible;

    display: block;
    width: 66.7vw;
    @media (max-width: 1000px) {
        // background-color: blue;
        margin-top: -1vh;
        width: 70vw;
    }
}