@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body{
    font-family: 'Balsamiq Sans', cursive;
}
