*{
    padding: 0;
    margin: 0;
    border-size: border-box;
} 

.mainPanel{
    display: flex;

}

.mainButtonsContainer{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    z-index: 10;
}

#logo{
    z-index: 10;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -0.2%;
    display: flex;
    align-self: stretch;
    height: 40%;
    object-fit:cover;
}