.LeftMenu{
    display: block;
    margin: 4vh 2vw 0 5vw;
    width: 25vw;
    height: auto;
    min-height: 68vh;
    float: left;
    .LeftMenuButton{
        float: left;
        margin: 0 1vw 2vh 0;
    }
}